body{
    background-color: #EAEAEA;
    padding-bottom: 70px; /* 네비게이션 바와 겹치는 문제 해결 */
    padding-top: 50px;
}
@media screen and (max-width:800px){
    .upnavbar{
        position: fixed;
        top : 0;
        width: 100%;
        max-width: 96%; /* 좌우 여백을 살짝 남김 */
        height: auto;
        line-height: 7vh;
        display: flex; /*가로정렬*/
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
        border-radius: 0 0 10px 10px;
        z-index: 100;
    }
    .navbar-username {
        padding-right: 5%;
    }
    
    .profile-username h1 {
        font-size: 1.5rem;
        margin: 0;
    }    
    .downnavbar{
        position: fixed;
        bottom: 0;
        width: 96%;
        display: flex; /*가로정렬*/
        justify-content: center;
        background-color: white;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px -7px 29px 0px;
        border-radius: 10px 10px 0 0;
        z-index: 1000;
    }
    .logo{
        width: 50px;  
        height: 60px;
        margin: 0px 20px;
        background-image: url("/static/images/semicolon logo.png"); 
        background-size: contain;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
    }
    .ranking_icon{
        width: 50px;  
        height: 50px;
        margin: 5px 20px;
        background-image: url("/static/images/ranking_icon.png"); 
        background-size: contain;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        border-radius: 0;
        cursor: pointer;
        border: none;  /* 버튼 테두리 제거 */
        background-color: transparent; /* 배경색 제거 */
    }
    .home_icon{
        width: 50px;  
        height: 50px;
        margin: 5px 20px;
        background-image: url("/static/images/home_icon.png"); 
        background-size: contain;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        border-radius: 0;
        cursor: pointer;
        border: none;  /* 버튼 테두리 제거 */
        background-color: transparent; /* 배경색 제거 */
    }
    .wallet_icon{
        width: 50px;  
        height: 50px;
        margin: 5px 20px;
        background-image: url("/static/images/wallet_icon.png"); 
        background-size: contain;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        border-radius: 0;
        cursor: pointer;
        border: none;  /* 버튼 테두리 제거 */
        background-color: transparent; /* 배경색 제거 */
    }
    .club_logo {
        width: 70px;
        height: 70px;
        background-image: url("/static/images/semicolon logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }
    .club{
        display: flex;
        align-items: center;
    }
    .club_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1; /* 반응형 대응 */
    }
    .club_info p{
        margin: 6px 0px;
    }

    .button_group {
        display: flex;
        margin-left: auto;
        gap: 10px;
    }
    .buy_bt, .sell_bt {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 80px;
        height: 35px;
        text-align: center;
        white-space: nowrap;
    }
    .buy_bt {
        background-color: #0089ED;
        color: white;
        
    }

    .sell_bt {
        background-color: #FF4D4D;
        color: white;
    }
    .container{    
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid #ccc;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    section {
        display: flex;            
        align-items: center;      /* 세로 가운데 정렬 */
        justify-content: space-between; /* 요소 간 간격 조정 */
        border-radius: 10px;
        background-color: white;
        padding: 5%;
        width: 90%; 
        height: auto;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px -7px 29px 0px;
        flex-wrap: wrap; /* 반응형 지원 */
    }
    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
        width: 90%;
        height: 180px;
        margin: 10px auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }
    .inform{
        margin: 10%;
    }
    .profile_image{
        width: 50px;  
        height: 50px;
        border-radius: 50%;
        object-fit: cover; 
        margin: 5px 20px;
    }

    input[type=number]{
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (min-width:801px){
    .upnavbar{
        position: fixed;
        top : 0;
        width: 100%;
        max-width: 96%; /* 좌우 여백을 살짝 남김 */
        height: auto;
        line-height: 7vh;
        display: flex; /*가로정렬*/
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
        border-radius: 0 0 10px 10px;
        z-index: 100;
    }
    .navbar-username {
        padding-right: 5%;
    }
    
    .profile-username h1 {
        font-size: 1.5rem;
        margin: 0;
    }    
    .downnavbar{
        position: fixed;
        bottom: 0;
        width: 96%;
        display: flex; /*가로정렬*/
        justify-content: center;
        background-color: white;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px -7px 29px 0px;
        border-radius: 10px 10px 0 0;
        z-index: 1000;
    }
    .logo{
        width: 50px;  
        height: 60px;
        margin: 0px 20px;
        background-image: url("/static/images/semicolon logo.png"); 
        background-size: contain;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
    }
    .ranking_icon{
        width: 50px;  
        height: 50px;
        margin: 5px 20px;
        background-image: url("/static/images/ranking_icon.png"); 
        background-size: 80%;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
    }
    .home_icon{
        width: 50px;  
        height: 50px;
        margin: 5px 20px;
        background-image: url("/static/images/home_icon.png"); 
        background-size: contain;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
        border: none;  /* 버튼 테두리 제거 */
        background-color: transparent; /* 배경색 제거 */
    }
    .wallet_icon{
        width: 50px;  
        height: 50px;
        margin: 5px 20px;
        background-image: url("/static/images/wallet_icon.png"); 
        background-size: 65%;  /* 로고 이미지 크기 조절 */
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
        border: none;  /* 버튼 테두리 제거 */
        background-color: transparent; /* 배경색 제거 */
    }
    .club_logo {
        width: 70px;
        height: 70px;
        background-image: url("/static/images/semicolon logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }
    .club{
        display: flex;
        align-items: center;
    }
    .club_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1; /* 반응형 대응 */
    }
    .club_info p{
        margin: 6px 0px;
    }

    .button_group {
        display: flex;
        margin-left: auto;
        gap: 10px;
    }
    .buy_bt, .sell_bt {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 80px;
        height: 35px;
        text-align: center;
        white-space: nowrap;
    }
    .buy_bt {
        background-color: #0089ED;
        color: white;
        
    }

    .sell_bt {
        background-color: #FF4D4D;
        color: white;
    }
    .container{    
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid #ccc;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    section {
        display: flex;            
        align-items: center;      /* 세로 가운데 정렬 */
        justify-content: space-between; /* 요소 간 간격 조정 */
        border-radius: 10px;
        background-color: white;
        padding: 5%;
        width: 90%; 
        height: auto;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px -7px 29px 0px;
        flex-wrap: wrap; /* 반응형 지원 */
    }
    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
        width: 90%;
        height: 180px;
        margin: 10px auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }
    .inform{
        margin: 10%;
    }
    .profile_image{
        width: 50px;  
        height: 50px;
        border-radius: 50%;
        object-fit: cover; 
        margin: 5px 20px;
    }

    input[type=number]{
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
    }

}