body{
    background-color: #EAEAEA;
    padding-bottom: 70px; /* 네비게이션 바와 겹치는 문제 해결 */
    padding-top: 50px;
}
body::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:800px){

    .club_logo {
        width: 70px;
        height: 70px;
        background-image: url("/static/images/semicolon logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }
    .club{
        display: flex;
        align-items: center;
    }
    .club_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1; /* 반응형 대응 */
    }
    .club_info p{
        margin: 6px 0px;
    }

    .button_group {
        display: flex;
        margin-left: auto;
        gap: 10px;
    }
    .buy_bt, .sell_bt {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 80px;
        height: 35px;
        text-align: center;
        white-space: nowrap;
    }
    .buy_bt {
        background-color: #0089ED;
        color: white;
        
    }

    .sell_bt {
        background-color: #FF4D4D;
        color: white;
    }
    .container{    
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid #ccc;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    section {
        display: flex;            
        align-items: center;      /* 세로 가운데 정렬 */
        justify-content: space-between; /* 요소 간 간격 조정 */
        border-radius: 10px;
        background-color: white;
        padding: 5%;
        width: 90%; 
        height: auto;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px -7px 29px 0px;
        flex-wrap: wrap; /* 반응형 지원 */
    }
    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
        width: 90%;
        height: 180px;
        margin: 10px auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }
    .inform{
        margin: 10%;
    }
    .profile_image{
        width: 50px;  
        height: 50px;
        border-radius: 50%;
        object-fit: cover; 
        margin: 5px 20px;
    }

    input[type=number]{
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (min-width:801px){
    
    .club_logo {
        width: 70px;
        height: 70px;
        background-image: url("/static/images/semicolon logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }
    .club{
        display: flex;
        align-items: center;
    }
    .club_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1; /* 반응형 대응 */
    }
    .club_info p{
        margin: 6px 0px;
    }

    .button_group {
        display: flex;
        margin-left: auto;
        gap: 10px;
    }
    .buy_bt, .sell_bt {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 80px;
        height: 35px;
        text-align: center;
        white-space: nowrap;
    }
    .buy_bt {
        background-color: #0089ED;
        color: white;
        
    }

    .sell_bt {
        background-color: #FF4D4D;
        color: white;
    }
    .container{    
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid #ccc;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    section {
        display: flex;            
        align-items: center;      /* 세로 가운데 정렬 */
        justify-content: space-between; /* 요소 간 간격 조정 */
        border-radius: 10px;
        background-color: white;
        padding: 5%;
        width: 90%; 
        height: auto;
        box-shadow:  rgba(0, 0, 0, 0.25) 0px -7px 29px 0px;
        flex-wrap: wrap; /* 반응형 지원 */
    }
    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
        width: 90%;
        height: 180px;
        margin: 10px auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }
    .inform{
        margin: 10%;
    }
    .profile_image{
        width: 50px;  
        height: 50px;
        border-radius: 50%;
        object-fit: cover; 
        margin: 5px 20px;
    }

    input[type=number]{
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
    }

}