<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav class="upnavbar">
    <div class="logo"></div>
    <p style = 'margin: 0px 0px'><span style="color: #A6F4BC;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</p>    
    <div class='navbar-username'>
        {{username}}
    </div>
    <div>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>
</nav>


<nav class="upnavbar" style="height: 50px;">
    <div class="logo"></div>
    <p><span style="color: #a6f4bc;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</p>    
    <div class='navbar-right'>
        <span class='navbar-username' style="margin-right: 40px;">{{username}}</span>
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</nav>