<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav class="upnavbar" style="height: 50px;">
    <img src="/static/images/logos/세미콜론로고.jpg" alt="logo" class="logo">
    <p><span style="color: #a6f4bc;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</p>    
    <div class='navbar-right'>
        <span class='navbar-username'>{{username}}</span>
        <div class='logout-button'>
            <a href="/logout" class="logout-button"><span class="logout-text">Logout</span></a>
            
        </div>
    </div>
</nav>