<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Stockolon</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div id='pentagon'></div>
    <div id="stockImage"></div>
    <h1 id="title">Stockolon</h1>
    <form action="/go" method="POST" class="start-button">
        <input type="submit" value="Start" style="pointer-events: auto; z-index: 10;">
    </form>
    <script>
        document.documentElement.style.overflow = 'hidden';
        document.body.style.overflow = 'hidden';
    </script>
</body>
</html>
