<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stockolon {{username}}</title>
    <link rel="stylesheet" href="static/css/main_stock.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_stock.css') }}">
</head>
<body>
    <nav class="upnavbar">
        <div class="logo"></div>
        <p style = 'margin: 0px 0px'><span style="color: #A6F4BC;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</p>    
        <div class='navbar-username'>
            {{username}}
        </div>        
    </nav>
    <br><br><br>
    <div class="contents" id="stock-container">
        {% for i in range(clubs | length) %}
        <section class="stock-card">
            <div class="stock-info">
                <div class="club_logo"></div>
                <div class="text-container">
                    <p class="club-name">{{ clubs[i] }}</p>
                    <p class="price">{{ club_price[i+2] }}₩</p>
                    <button class="buy_bt" onclick="location.href='{{ url_for('buy_stock', club=clubs[i]) }}';">Buy</button>
                </div>
            </div>
            <div class="chart"></div>
        </section>
        {% endfor %}
    </div>
    <br><br><br>
    
    <nav class="downnavbar">
        <form action="/ranking"><button type="submit" class="ranking_icon"></button></form>
        <form action="/home"><button type="submit" class="home_icon"></button></form>
        <form action="/stock" method="get"><button type="submit" class="wallet_icon"></button></form>
    </nav>
</body>
</html>