<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/my_page.css">
    <title>my_page</title>
</head>
<body>

<div id="stockData" data-stocks='{{ stock | tojson | safe }}'></div>
 

<nav class="upnavbar">
    <div class="logo"></div>
    <p style = 'margin: 0px 0px'><span style="color: #A6F4BC;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</p>    
    <div class='navbar-username'>{{username}}</div>        
</nav>
<div class="container">
    <div class="profile">
        <img class="profile_image" src="/static/images/Profile.png" alt="profile_image">
        <div class="inform">
            <div class="profile-username"> 환영합니다! <br><br><h1>{{username}}</h1></div>
            <div class="wallet">
                <p>보유자금 : {{balance}}</p>
                <p>총 자산 : {{total_assets}}</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>

    {% for i in range(stock|length) %}
        {% if stock_num[i] != 0 %}
            <div class="contents">
                <section>
                    <div style="display: flex;">
                        <div class="club">
                            <div class="club_logo"></div>
                        </div>
                        <div class="club_info">
                            <div style="display: flex; gap: 20px; height: auto;"> 
                                <p>{{stock[i]}}</p>  
                                <p style="color: green;">+0.05%</p> 
                            </div>
                            <p>보유 수량 : {{stock_num[i]}} </p>
                            <p >현재가격 : <span id="stock_value">{{stock_price[i]}}</span></p>
                            <p>총 가치 : {{stock_price[i]*stock_num[i]}} </p>
                            <p>수익률 : SAMPLE</p> <!-- 나중에 SAMPLE 지울것! 일단 테스트용 -->
                        </div>
                    </div>
                    <div class="inputs" style="display: flex; margin-top: 15px;">
                        <div class="button_group"> 
                            <div class="buy_container">
                                <div class="purchase-section">
                                    <form action="/buy_stock" method="post">
                                        <input type="hidden" name="club" value="{{ stock[i] }}">
                                        <input type="number" id="amountInput" name="amount" class="quantity-input" min="1" oninput="calculate()" placeholder="수량 입력">
                                        <button type="submit" class="buy_bt">추가매수</button>
                                        <script>
                                            function calculate() {
                                                const stock_value = document.getElementById("stock_value").textContent; // app.py에서 받은 값
                                                const amount = parseFloat(document.getElementById("amountInput").value); // 입력값
                                                console.log("stock_value:", stock_value)
                                                console.log("amount:", amount)
                                    
                                                if (!isNaN(stock_value) && !isNaN(amount)) {    
                                                    const result = stock_value * amount;
                                                    document.getElementById("result").textContent = result.toLocaleString(); // 결과 표시
                                                } else {
                                                    document.getElementById("result").textContent = "올바른 숫자를 입력하세요!";
                                                }
                                            }
                                        </script>
                                        <p><strong>총액:</strong> <span id="result">0</span></p> <!-- 총액 표시 영역 -->
                                    </form>
                                </div>
                            </div>
                            <form action="/sell_stock" method="post">
                                <input type="hidden" name="club" value="{{ stock[i] }}">
                                <input type="number" id="amountInput" name="amount" class="quantity-input" min="1" oninput="calculate()" placeholder="수량 입력">
                                <button type="submit" class="sell_bt">매도</button>
                                
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            {% endif%}
        {% endfor %}
    </div>
<nav class="downnavbar">
    <form action="/ranking"><button type="submit" class="ranking_icon"></button></form>
    <form action="/home"><button type="submit" class="home_icon"></button></form>
    <form action="/stock" method="get"><button type="submit" class="wallet_icon"></button></form>
</nav>
   
</body>
</html>