<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/ranking.css">
    <title>ranking</title>
</head>
<body>
    <nav class="upnavbar">
        <div class="logo"></div>
        <p style = 'margin: 0px 0px'><span style="color: #A6F4BC;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</p>    
        <div class='navbar-username'>{{username}}</div>        
    </nav>
    <nav class="downnavbar">
        <form action="/ranking"><button type="submit" class="ranking_icon"></button></form>
        <form action="/home"><button type="submit" class="home_icon"></button></form>
        <form action="/stock" method="get"><button type="submit" class="wallet_icon"></button></form>
    </nav>
</body>
</html>