<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Stockolon</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
<div class="box">    
    <div class="header">
        <div>
            <p style="font-size:x-large;">welcome!</p>
            <h1>Sign up to</h1>
            <h1><span style="color: #A6F4BC;">S</span>TOC<span style="color: #A6F4BC;">K</span>OLON!</h1>
        </div>
        <div class="logo"></div>
    </div>
    <form action="/register_data" method="POST">
            <input type="text" name ="ID" placeholder="학번 ex)10101" value="{{id}}" required><br><br>
            <input type="text" name ="USERNAME" placeholder="아이디 ex) 롯데리아 케챱 도둑" value="{{username}}" required>
            {% if response %}
            <p style = 'color: red;'>{{response}}</p>
            {% else %}
            <br><br>
            {% endif %}
            <input type="password" name ="PW" placeholder="비밀번호" value="{{pw}}" required><br><br>
            <input type="password" name="PW_CHECK" placeholder="비밀번호 확인" value="{{pwCheck}}" required>
            {%if response_pw %}
            <p style="color: red;">{{response_pw}}</p>
            {% else %}
            <br><br>
            {% endif %}
            <label>
                <input type="checkbox" name="agree" value="agree">
                <span>부정한 행위를 저지르지 않을 것이며, 적발 시 적절한 조치가 취해질 수 있음을 인지하였습니다.</span>
            </label>
            {%if response_agree %}
            <p style="color: red;">{{response_agree}}</p>
            {% else %}
            <br><br>
            {% endif %}
        <input type="submit" value="register"><br>
    <br>
    <br>
    <p style="display: inline;">운정고등학교 코딩 동아리 semicolon 지원 신청하기</p>
    <button style="display: inline;" class="text-bt">-> Go to form</button>
</div>
</body>